.media {
    width: 350px;
    height: 351px;
    &-header {
        width: 350px;
        height: 300px;
        overflow: hidden;
        &_img {
            overflow: hidden;
            border: none;
            width: 100%;
            height: 100%;
            background-color: transparent;

        }
        &_img img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            pointer-events: none;
        }
        &_video {
            height: 300px;
        }
        &_video[poster]{
            width: 350px;
            height: 300px;
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        &_name {
            flex: 1;
            color: $primaryColor;
            font-weight: 400;
        }
        &_numberLike {
            color: $primaryColor;
            font-weight: 500;
            font-size: 1.2em;
        }
        &_buttonLike{
            width: 17.5px;
            height: 18.35px;
            background-image: url("../../img/Vector.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 5px;
            cursor: pointer;
        }
       
    }
}

@include tablet-only {
   
}

@include mobile-only {
    .media {
        width: 100%;
        &-header {
            width: 100%;
        }
    }
}