.header {
    height: 130px;
    display: grid;
    grid-template-columns: 20% 50% 25%;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    z-index: 900;
    padding-left: 7%;
    &-logo {
        margin: auto 0;
        grid-column: 1 /span 1;
        grid-row: 1/ span 1;
    }
    &-nav {
        grid-column: 2 /span 1;
        grid-row: 1/ span 1;
        display: flex; 
        align-items: center;
    }
    &-nav ul {
        display: flex;
        flex-wrap: wrap;
        & li {
            margin-bottom: 10px;
        }
    }
    &-title {
        grid-column: 3 /span 1;
        grid-row: 1/ span 1;
        color: $primaryColor;
        font-size: 2em;
        font-weight: normal;
        margin: auto 0;
    }
}

.main {
    .photographsList {
        height: auto;
        background-color: green;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-photograph {
            background-color: red;
            width: 30%;
            height: 356px;
            margin-bottom: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-photograph_header {
            width: 100%;
            height: 277px;
            background-color: blue;
        }
        &-photograph_body {
            width: 100%;
            height: 38px;
            background-color: yellow;
        }
        &-photograph_footer {
            width: 100%;
            height: 30px;
            background-color: black;
        }
    }
}

@include tablet-only {
    .header {
        grid-template-columns: 60% 40%;
        grid-template-rows: 70px 50px;
        padding: 5% 7% 0 7%;
        height: auto;
        &-logo {
            img {
                width: 150px;
            }
        }
        &-nav {
            grid-column: 1 / span 2;
            grid-row: 2/ span 2;
            padding-left: 0;
            margin: auto;
            & ul {
                justify-content: center;
            }
        }
        &-title {
            grid-column: 2 / span 1;
            text-align: end;
            font-size: 1.5em;
        }
    }
}

@include mobile-only {
    .header {
        grid-template-columns: 45% 50%;
        padding: 5% 4% 0 5%;
        &-title {
            font-size: 1em;
        }
    }
}