#homepage {
    .photographsList {
        height: auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 3em auto 0 auto
    }
}

.goToContent {
    width: 182px;
    height: 30px;
    background: #DB8876;
    border-radius: 5px; 
    color: #000;
    font-weight: 700;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 1em;
    text-align: center;
    line-height: 1.80em;
    display: none;
}

@include tablet-only {
    .header {
        grid-template-columns: 60% 40%;
        grid-template-rows: 70px 50px;
        padding: 5% 7% 0 7%;
        height: auto;
        &-logo {
            img {
                width: 150px;
            }
        }
        &-nav {
            grid-column: 1 / span 2;
            grid-row: 2/ span 2;
            padding-left: 0;
            margin: auto;
            & ul {
                justify-content: center;
            }
        }
        &-title {
            grid-column: 2 / span 1;
            text-align: end;
            font-size: 1.5em;
        }
    }
}

@include mobile-only {
    .header {
        grid-template-columns: 45% 50%;
        padding: 5% 4% 0 5%;
        &-title {
            font-size: 1em;
        }
    }
}