#photographer {
    width: 85%;
    margin: auto;
    .select {
        position: relative;
        background-color: $primaryColor;
        height: auto;
        width: 10.5em;
        border-radius: 5px;
        display: inline-block;
        margin: 15px 0 15px 15px;

    }
    .select select {
        background-color: $primaryColor;
        font-size: 1.2rem;
        border: 0;
        padding: 1em 2em 1em 1.5em;
        padding-left: 20px;
        color: white;
        border-radius: 5px;
        appearance: none;
    }
    .select select:focus-visible { 
        outline: none;
    }
    .select .arrow {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background: $primaryColor;
        height: 100%;
        width: auto;
        pointer-events: none;
        border-radius: 0 5px 5px 0;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-right: 20px;
        i {
            // margin: auto;
            color: white;
            // background-color: blue;
        }
    }

    .select .selector-options {
        width: 100%;
        height: 170px;
        background-color: red;
        position: absolute;
        margin: 0;
        border-radius: 5px;
        top: 0;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .select .selector-options li {
        height: 50px;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
        border-bottom:  solid 1px white;
        width: 100%;
    }

    .select .selector-options li:last-child {
        border-bottom: none;
    }
    option {
        // appearance: none;

        // height: 150px;
        // background-color: red;
        // min-height: 2em!important;
        // padding: 50px;
        // display: block;
        // border: yellow 5px solid;
        // font-weight: 700;
        // padding: 50px;
    }
    label[for="sortBy"]{
        font-weight: 700;
    }
    // select::after {
    //     content:"t";
    //     // display: flex;
    // }
    #mediasList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .totalLikesAndPricePhotograph {
        width: 376px;
        height: 89px;
        background-color: #DB8876;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
        font-weight: 500;
        position: fixed;
        bottom: 0;
        right: 0;
        i {
            margin-left: 5px;
        }
    }
    #lightboxModal {
        width: 100%;
        height: 100%;
        background-color:rgba($color: #FFF, $alpha: 0.5);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        .lightbox {
            background-color: white;
            width: 80%;
            height: 700px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            // margin-top: 150px;
            &-media_image {
                width: 70%;
                height: 550px;
                background-color: red;
                margin: auto;
                display: flex;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &-media_image  img{
                width: auto;
                height: 100%;
            }
            &-close, &-arrow_left, &-arrow_right {
                position: absolute;
            }
            &-close {
                top: 77px;
                right: 126px;
            }
            &-arrow_left {
                top: 0;
                bottom: 0;
                left: 131px;
                height: 55px;
                width: 55px;
                background-color: red;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-arrow_right {
                top: 0;
                bottom: 0;
                right: 131px;
                height: 55px;
                width: 55px;
                background-color: red;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-media_name {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 19px;
                width: 70%;
                margin: auto;
            }
        }
    }

}

@include tablet-only {
 
}

@include mobile-only {
    #photographer {
        #sortBy , label[for="sortBy"]{
        display: none;
        }
        #mediasList {
            margin-top: 15%;
        }
        .totalLikesAndPricePhotograph {
            display: none;
        }
    }
}