#photographer {
    width: 85%;
    margin: auto;
    #sortBy {
        background-color: $primaryColor;
        border: none;
        width: 170px;
        height: 69px;
        color: white;
        font-size: 1em;
        border-radius: 5px;
        display: block;
        // padding: 20px 25px;
    }
    select::after {
        content:"t";
        display: flex;
    }
    #mediasList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #lightboxModal {
        width: 100%;
        height: 100%;
        background-color:rgba($color: #FFF, $alpha: 0.5);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        .lightbox {
            background-color: white;
            width: 80%;
            height: 700px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            // margin-top: 150px;
            &-media_image {
                width: 70%;
                height: 550px;
                background-color: red;
                margin: auto;
                display: flex;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &-media_image  img{
                width: auto;
                height: 100%;
            }
            &-close, &-arrow_left, &-arrow_right {
                position: absolute;
            }
            &-close {
                top: 77px;
                right: 126px;
            }
            &-arrow_left {
                top: 0;
                bottom: 0;
                left: 131px;
                height: 55px;
                width: 55px;
                background-color: red;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-arrow_right {
                top: 0;
                bottom: 0;
                right: 131px;
                height: 55px;
                width: 55px;
                background-color: red;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-media_name {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 19px;
                width: 70%;
                margin: auto;
            }
        }
    }

}

@include tablet-only {
 
}

@include mobile-only {
    #photographer {
        #sortBy , label[for="sortBy"]{
        display: none;
        }
        #mediasList {
            margin-top: 15%;
        }
    }
}